/*стили будут добавлены когда будет макет*/
.postContainer{
    width: 240px;
    height: 120px;
    display: flex;
    flex-direction: column;
    border: 2px red solid;
}
.postTitle{
    border-bottom: 1px red solid;
}